<div class="tab">
<table >
    <tr>
        <th>180 + BEST - IN - CLASS DOMAIN SPECIALISTS</th>
        <th>BLENDED LEARNING SYSTEM</th>
        <th>350+ NATIONAL TIE-UPS</th>
    </tr>
    <tr>
        <td>Provides professionals skills by certified trainers and subject 
            matter experts maintaining effective faculty - student ratio
        </td>
        <td>
            Blended learning ensures that the student is engaged and 
            drives smart learning experience. Our digitized curriculum 
            with customized content, multimedia and games, creates an 
            immersive professional development program generating digitally 
            trained candidates.
        </td>
        <td>
            With 350+ National Tie ups across industries and partnerships 
            with leading brands help us facilitate exciting career opportunities 
            for Anudip Graduates.
        </td>
    </tr>
    <tr>
        <th>DIVERSE GEOGRAPHY</th>
        <th>GLOBAL CERTIFICATION</th>
        <th>HIGH-VALUE SOCIAL ROI</th>
    </tr>
    <tr>
        <td>
            More than 100+ smart and well equipped Skill and Career Development 
            centres are spread across 10 Indian States and 2 countries, facilitating 
            new technology skills and career opportunities.
        </td>
        <td>
            Accredited global certification programs sponsored by Microsoft and Cisco 
            for the deserving talent-rich youth.
        </td>
        <td>
            With a decade of experience, Anudip generates sustainable knowledge-economy 
            livelihoods for high-need communities ensuring impactful return-on-investments.
        </td>
    </tr>
</table>
</div>