<div class="cont">
    <h1>COURSES PROVIDED BY US</h1>
<table >
   <tr>
    <th>CERTIFICATE PROGRAM</th>
    <th>ADVANCED PROGRAM</th>
   </tr> 
   <tr>
    <td>CERTIFICATE IN ENGLISH COMMUNICATION AND IT</td>
    <td>ADVANCED PROGRAM IN WEB DESIGINING</td>
   </tr>
   <tr>
    <td>CERTIFICATE IN E-COMMERCE CONSULTANT SERVICE</td>
    <td>ADVANCED PROGRAM IN CCNA ROUTING AND SWITCHING</td>
   </tr>
   <tr>
    <td>CERTIFICATE IN ENGLISH COMMUNICATION AND DIGITAL
         EDUCATION IN EXCEL SPECILIZATION</td>
    <td>ADVANCED PROGRAM IN DOT NET PROGRAMMING</td>
   </tr>
   <tr>
    <td>IMPACT</td>
    <td>ADVANCED PROGRAM IN COMPUTER INFRASTRUCTURE SERVICES</td>
   </tr>
   <tr>
    <td>CERTIFICATE IN ACCOUNTING AND EXCEL EXPERT</td>
    <td>ADVANCED PROGRAM IN COMPUTER OPERATION AND DIGITAL EDUCATION</td>
   </tr>
</table>

<H3>GLOBAL CERTIFICATION COURSES</H3>
<IMG SRC="assets/ADOBE.png" hspace="80px">
<IMG SRC="assets/CCNA.png">
<IMG SRC="assets/CEH.png">
<IMG SRC="assets/TELLY.png">
<IMG SRC="assets/WINDOWW.png">
</div>
